#### Import relevant libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#### Load dataset and subset columns

In [2]:
houseprice_data = pd.read_csv("data/HousingPricesData.csv")

In [3]:
houseprice_data = houseprice_data[['Price', 'Area', 'Room']]

#### Inspect first 5 rows and data types of the dataset

In [4]:
houseprice_data.head()

      Price  Area  Room
0  685000.0    64     3
1  475000.0    60     3
2  850000.0   109     4
3  580000.0   128     6
4  720000.0   138     5

In [5]:
houseprice_data.shape

(924, 3)

#### Identify missing values using the isnull method

In [6]:
houseprice_data.isnull().sum()

Price    4
Area     0
Room     0
dtype: int64

#### Drop missing values

In [7]:
houseprice_data_drop_missing = houseprice_data.dropna()
houseprice_data_drop_missing.shape

(920, 3)

#### Drop missing values from a subset of columns

In [8]:
houseprice_data_drop_subset = houseprice_data.dropna(subset = ['Price', 'Area'])
houseprice_data_drop_subset.shape

(920, 3)

#### Drop entire column containing missing values

In [9]:
houseprice_data_drop_column = houseprice_data.drop(['Area'],axis= 1)
houseprice_data_drop_column.shape

(924, 2)